
{% extends 'base.html' %}

{% block title %}Edit Tag {% endblock %}

{% block content %}

<h1>Edit  Tag</h1>
<br>

<div class="container d-flex align-items-center justify-content-center ">
<form class="form-group" action="/tags/{{tag.id}}/edit"  method="POST" >
  <div class="mb-3">
    <label for="name" class="form-label">Name</label>
    <input type="text" class="form-control input-lg" id="name" name="name" value="{{tag.name}}">
  </div>
     
 <a href="/tags" class="btn btn-secondary">Cancel</a>
  <button  type="submit" class="btn btn-success">Edit</button>
 
</form>
</div>

 
  
{% endblock %}
