{% extends 'base.html' %}

{% block title %}{{survey_tittle}}{% endblock %}

{% block content %}

<h1> Update User</h1>

<div class="center-form">
  <form action="/update/{{user.id}}" method="POST">
      
      <label for="first_name">First Name:</label>
      <input type="text" id="first_name" name="first_name" value="{{user.first_name}}" required>

      <label for="last_name">Last Name:</label>
      <input type="text" id="last_name" name="last_name" value ="{{user.last_name}}" required>

      <label for="image">Image:</label>
      <input type="text" id="image" name="image" value ="{{user.image}}" required>

      <input type="submit" value="Update">
  </form>
</div>
  
{% endblock %}